:root {
    --white-color: #fff;
    --light-green: #11eeb3;
    --black-color: #000;
    --base-font-family: "Gill Sans", sans-serif;
    --base-font: 400 15px var(--base-font-family);
    --transition-time: 0.4s;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header nav {
    margin: 10px 10px 0;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: var(--light-green);
    font: var(--base-font);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-height: 50px;
}

.list {
    display: flex;
    align-items: center;
    gap: 20px;
    transition: var(--transition-time);
}

.list a {
    margin: 0 20px;
    text-decoration: none;
    font: var(--base-font);
    color: var(--black-color);
    position: relative;
}

.login-btn {
    border-radius: 8px;
    padding: 10px;
    min-width: 40px;
    background-color: var(--light-green);
    color: var(--black-color);
}

main {
    margin-top: 100px;
}

.slider {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.slider nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.slider label {
    display: inline-block;
    cursor: pointer;
    padding: 2px 6px;
    border-radius: 2px;
    font: var(--base-font);
    color: var(--black-color);
    transition: var(--transition-time);
}

.slider label:hover {
    background-color: var(--light-green);
}

.slider .slides {
    display: flex;
    overflow-x: auto;
    width: 100%;
    height: 100%;
    gap: 20px;
}

.slider .slides .slide {
    width: 100%;
    height: 500px;
    flex-shrink: 0;
    background-color: var(--light-green);
    display: none;
}

.slider .slides .slide .content {
    margin: auto;
    font: 700 48px var(--base-font-family);
    color: var(--black-color);
}

header nav .checkbox {
    display: none;
}

.slider .slides .checkbox {
    display: none;
}

.slider .slides .checkbox:checked + .slide {
    display: flex;
}

header nav .list a::before {
    content: "";
    position: absolute;
    bottom: -5px;
    height: 1px;
    left: 0;
    width: 0;
    background-color: var(--black-color);
    transition: var(--transition-time);
}

header nav .list a:hover::before {
    width: 100%;
}

header nav .btn {
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    background-color: var(--light-green);
    transition: var(--transition-time);
}

header nav .btn::before,
header nav .btn::after {
    transition: var(--transition-time);
    content: "";
    position: absolute;
    height: 2px;
    width: 90%;
    background-color: var(--black-color);
}

header nav .btn::before {
    top: 30%;
}

header nav .btn::after {
    bottom: 30%;
}

@media screen and (max-width: 480px) {
    header {
        position: absolute;
        top: 0;
    }

    header nav {
        flex-wrap: wrap;
        justify-content: center;
        position: fixed;
        margin-top: 10px;
        left: 10px;
        right: 10px;
    }

    header nav .list {
        height: 80vh;
        width: 100%;
        display: none;
        flex-direction: column;
        margin-bottom: 10px;
        overflow-y: auto;
    }

    header nav .checkbox:checked ~ .list {
        display: flex;
    }

    header nav .login-btn {
        display: none;
    }

    header nav .checkbox:checked ~ .login-btn {
        display: flex;
    }

    header nav .checkbox:checked ~ .btn::before {
        left: 4%;
        top: 40%;
        transform: rotate(45deg);
    }

    header nav .checkbox:checked ~ .btn::after {
        left: 4%;
        top: 40%;
        transform: rotate(135deg);
    }

    header nav .logo {
        margin-right: auto;
    }

    header nav .btn {
        display: block;
    }
}
